mat-card {
  margin: 35px;
}

form,
#edit-birthday-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

mat-form-field {
  margin: 10px;
  width: 50vw;
}
