<mat-card id="view-title">
  <mat-card-title>Birthdays</mat-card-title>
</mat-card>

<div id="birthdays-list">
  <mat-card>
    <span class="date"> 11/03 </span>

    <span class="birthday-person"> Andrés Muñoz </span>

    <button class="edit-button" mat-button>
      <mat-icon>Edit</mat-icon>
    </button>

    <button class="remove-button" mat-button>
      <mat-icon>Remove</mat-icon>
    </button>
  </mat-card>
</div>

<button id="add-birthday-button" mat-button>
  <mat-icon>Add</mat-icon>
</button>
