<mat-card id="view-title">
  <mat-card-title>Cumpleaños</mat-card-title>
</mat-card>

<div id="birthdays-list">
  <mat-card [id]="birthday.id" *ngFor="let birthday of birthdays | async">
    <span class="date"> {{ birthday.date }} </span>

    <span
      class="birthday-person"
      routerLink="/gifts"
      [queryParams]="{ userId: userId, birthdayId: birthday.id }"
    >
      {{ birthday.birthdayPerson }}
    </span>

    <button class="edit-button" mat-button>
      <mat-icon>edit</mat-icon>
    </button>

    <button
      class="remove-button"
      mat-button
      (click)="removeBirthday(birthday.id)"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </mat-card>
</div>

<button
  id="add-birthday-button"
  mat-button
  routerLink="/add-birthday"
  [queryParams]="{ userId: userId }"
>
  <mat-icon>add</mat-icon>
</button>
