<mat-card id="view-title">
    <mat-card-title>Birthdays</mat-card-title>
</mat-card>

<div id="birthdays-list">
    <mat-card>
        <span class="date">
            11/03
        </span>

        <span class="birthday-person">
            Andrés Muñoz
        </span>

        <span class="edit-button">
            <mat-icon>Edit</mat-icon>
        </span>

        <span class="remove-button">
            <mat-icon>Remove</mat-icon>
        </span>
    </mat-card>
</div>

<button id="add-birthday-button" mat-button>
    <mat-icon>Add</mat-icon>
</button>
