<mat-card id="view-title">
  <mat-card-title>Lista de regalos</mat-card-title>
</mat-card>

<mat-slide-toggle id="gifted-non-gifted-slide">Gifted</mat-slide-toggle>

<div id="gifts-list">
  <mat-card [id]="gift.id" *ngFor="let gift of gifts | async">
    <div class="gift-description-container">
      <span class="description"> {{ gift.description }} </span>
    </div>

    <div class="gift-options-container">
      <button class="mark-as-gifted-button" mat-button>
        Marcar como regalado
      </button>

      <button class="edit-button" mat-button>
        <mat-icon>edit</mat-icon>
      </button>

      <button class="remove-button" mat-button (click)="removeGift(gift.id)">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-card>
</div>

<button id="add-gift-button" mat-button routerLink="/add-gift">
  <mat-icon>add</mat-icon>
</button>
