<mat-card id="view-title">
    <mat-card-title>Gifts</mat-card-title>
</mat-card>

<mat-slide-toggle id="gifted-non-gifted-slide">Gifted</mat-slide-toggle>

<div id="gifts-list">
    <mat-card>
        <div class="gift-description-container">
            <span class="description">
                Bicicleta
            </span>    
        </div>

        <div class="gift-options-container">
            <button class="mark-as-gifted-button" mat-button>
                Marcar como regalado
            </button>
    
            <button class="edit-button" mat-button>
                <mat-icon>Edit</mat-icon>
            </button>
    
            <button class="remove-button" mat-button>
                <mat-icon>Remove</mat-icon>
            </button>
        </div>
    </mat-card>
</div>

<button id="add-gift-button" mat-button>
    <mat-icon>Add</mat-icon>
</button>
