<mat-card id="view-title">
  <mat-card-title>Añadir cumpleaños</mat-card-title>
</mat-card>

<mat-card id="add-birthday-form">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input
        id="date-input"
        matInput
        [matDatepicker]="picker"
        formControlName="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cumpleañero</mat-label>
      <input
        id="birthday-person-input"
        matInput
        placeholder="Cumpleañero"
        formControlName="birthdayPerson"
      />
    </mat-form-field>
  </form>
  <span>
    <button
      mat-button
      routerLink="/birthdays"
      [queryParams]="{ userId: userId }"
    >
      Cancelar
    </button>
    <button id="add-birthday-button" mat-button (click)="addBirthday()">
      Añadir cumpleaños
    </button>
  </span>
</mat-card>
