<mat-card id="view-title">
  <mat-card-title>Añadir cumpleaños</mat-card-title>
</mat-card>

<mat-card id="add-birthday-form">
  <form>
    <mat-form-field>
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cumpleañero</mat-label>
      <input matInput placeholder="Cumpleañero" />
    </mat-form-field>
  </form>
  <button id="add-birthday-button" mat-button>Añadir cumpleaños</button>
</mat-card>
