<mat-card id="view-title">
  <mat-card-title>Añadir regalo</mat-card-title>
</mat-card>

<mat-card id="add-gift-form">
  <form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Descripción</mat-label>
      <input
        id="description-input"
        matInput
        placeholder="Descripción"
        formControlName="description"
      />
    </mat-form-field>
  </form>
  <span>
    <button
      id="add-birthday-button"
      mat-button
      routerLink="/gifts"
      [queryParams]="{ userId: userId, birthdayId: birthdayId }"
    >
      Cancelar
    </button>
    <button id="add-gift-button" mat-button (click)="onAddGift()">
      Añadir regalo
    </button>
  </span>
</mat-card>
